.main-nav {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  padding:10px 0px;
}

.left-nav > ul,
.right-nav > ul {
  display: flex;
  flex-direction: row;
  // justify-content: space-between;
  align-items: center;
}

.left-nav {

  > ul {
    > li {
      font-family: $serif;
      font-size:20px;
      text-transform: uppercase;
      margin: 5px;
    }
  }

  span:hover {
    color: $lightest-gray;
  }
}

.right-nav  {

  > ul {

    > li {
      font-family: $serif;
      font-size:20px;
      text-transform: uppercase;
      margin: 5px;
    }

    > li:last-of-type {
  
    }
  }
  
  i {

  }
}

.left-nav > ul > li:hover,
.right-nav > ul > li:last-of-type:hover {

}

.fa-cog{
  font-size: 30px;
}