<form action="<%= users_url%>" method="POST">
  <label for="email">email:</label>
  <input type="text" name="user[email]" id="email">
  <label for="password">password:</label>
  <input type="password" name="user[password]" id="password">

  <input type="submit" value = "Sign Up">
</form>