

<div class="masthead">
    <div class="language-nav">
    <ul>
    <li><a>CSS </a></li>
    <li><a>HTML </a></li>
    <li><a>Javascript </a></li>
    <li><a>Ruby </a></li>
    </ul>
    </div>

    <div class="logo">
        <%= image_tag 'AA_Times_Logo.png' %>
    </div>


    <div class="masthead-links">
    <ul class="links">
        <li><time>Tuesday, October 18, 2016</time></li>
        <li><button><i>Today’s Paper</i></button></li>
        <li><button><i>Video</i></button></li>
        <li><button>77°F</button></li>
        <li><button>AAO <strong>+100%</strong></button></li>

    </ul>
    </div>
</div>