
<div class="sections-sidebar" id = "sections-sidebar">

    <ul class="sections-sidebar-ul">
        <li><section>World</section></li>
        <li>San Francisco</li>
        <li>New York</li>
        <li>Bootcamp Prep</li>
        <li>Jumpstart</li>
        <li>Online</li>
        <li>Marketing</li>
        <li>Sales</li>
        <li>TalentMatch</li>
        <li>Alumni</li>
        <li><a>All</a></li>
    </ul>

</div>