.row {
  display: flex;
}

.tile {
  width:30px;
  height:30px;
  border-style: inset;
  border-style: outset;
}

button{
  width: 30px;
  height: 30px;
}

.revealed{
  background-color: #BABFD1;
}


.modal{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, .8);
}

.modal-text{
  position: absolute;
  left:45%;
  top:40%;
  color: white;
  font-size: 50px;
}

.modal-text > button{
  width: 100px;
}